config = {}

--[[
Reload configurations automatically.
]]--
config.reload = true

--[[
The base keys (hyper).
]]--
config.hyper = {'ctrl', 'alt', 'cmd'}

--[[
Menu configuration.
]]--
config.menu = {}
-- Define the menu icon.
config.menu.icon = '⌬'
-- If true, extra menu items will be displayed.
config.menu.extended = false
-- Set the timers for the caffeine.
config.menu.caffeine = {
  {title = '10 minutes', seconds = 600},
  {title = '30 minutes', seconds = 1800},
  {title = '1 hour', seconds = 3600},
  {title = '3 hours', seconds = 10800},
}

--[[
Audio configuration.
]]--
config.audio = {}
-- Force specific input device to be always used.
config.audio.forceInputDevice = 'MacBook Pro Microphone'
-- Set to true to make the volume muted when the computer wakes up.
config.audio.muteOnAwake = true

--[[
Battery configuration.
--]]
config.battery = {}
-- Define your original charger serial number.
config.battery.serial = 'C060305AHQZPM0RAH'
-- Define if you want to get notified if the battery quality is not Good.
config.battery.state = true

--[[
Define applications shortcut.
--]]
config.applications = {
  I = 'iTerm',
  P = 'PhpStorm',
  L = 'Sublime Text',
}

--[[
Spoons configurations.
--]]
config.HoldToQuit = {}
config.HoldToQuit.duration = 0.3

config.Seal = {}
config.Seal.hotkey = {config.hyper, 'space'}
config.Seal.placeholder = 'Search'
config.Seal.key = ''
config.Seal.useractions = {
  -- Simple website aliases.
  ['Hammerspoon docs'] = {
    url = 'http://hammerspoon.org/docs/',
    description = 'Open website http://hammerspoon.org/docs/',
    icon = 'favicon',
  },
  ['Spotify'] = {
    url = 'https://open.spotify.com/',
    description = 'Open website https://open.spotify.com/',
    icon = 'favicon',
  },
  ['WhatsApp'] = {
    url = 'https://web.whatsapp.com/',
    description = 'Open website https://web.whatsapp.com/',
    icon = 'favicon',
  },
  ['Messenger'] = {
    url = 'https://www.messenger.com/',
    description = 'Open website https://www.messenger.com/',
    icon = 'favicon',
  },
  -- Websites that use query.
  ['Google search'] = {
    url = 'http://goo.gl/search/${query}',
    description = 'Open in Google search website.',
    keyword = 'gg', icon = 'favicon',
  },
  ['Google translate'] = {
    url = 'https://translate.google.com/?sl=auto&tl=auto&op=translate&text=${query}',
    description = 'Open in Google translate website.',
    keyword = 'tr', icon = 'favicon',
  },
}
